"*":
  "exception-reporting":
    userId: "7f3abe3e-d5a4-d8ce-b74a-3971c6fb31a7"
  welcome:
    showOnStartup: false
  core:
    autoHideMenuBar: true
    themes: [
      "atom-dark-ui"
      "one-light-syntax"
    ]
  editor:
    invisibles: {}
    fontFamily: "DejaVu Sans Mono, 文泉驿微米黑"
    zoomFontWhenCtrlScrolling: false
    showIndentGuide: true
    fontSize: 18
  autosave:
    enabled: true
  autocomplete:
    includeCompletionsFromAllBuffers: true
