"*":
  "exception-reporting":
    userId: "7f3abe3e-d5a4-d8ce-b74a-3971c6fb31a7"
  welcome:
    showOnStartup: false
  core:
    autoHideMenuBar: true
  editor:
    invisibles: {}
    fontFamily: "DejaVu Sans Mono, 文泉驿微米黑"
    fontSize: 18
    zoomFontWhenCtrlScrolling: false
    showIndentGuide: true
  autosave:
    enabled: true
  autocomplete:
    includeCompletionsFromAllBuffers: true
